@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&family=JetBrains+Mono:wght@100..800&family=Manrope:wght@200..800&display=swap");

@import "tailwindcss";
/* @import url("https://fonts.googleapis.com/css2?family=Geomini:wght@200..800&family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Asimovian&family=Geomini:wght@200..800&family=Orbitron:wght@400..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Crafty+Girls&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Crafty+Girls&family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Bitcount:wght@100..900&family=Bricolage+Grotesque:opsz,wght@12..96,200..800&family=Crafty+Girls&family=Syne+Mono&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Comfortaa:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Manrope:wght@200..800&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300..700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@100..800&display=swap"); */

@theme {
  --color-background: #0d0d12;
  --color-surface: #16161d;
  --color-primary: #8b5cf6;
  --color-primary-hover: #7c3aed;
  --color-text: #e4e4e7;
  --color-text-muted: #a1a1aa;
  --color-border: #27272a;
  --font-sans: "Inter", sans-serif;
  --font-mono: "JetBrains Mono", monospace;
  --font-space: "Space Grotesk", sans-serif;
  --font-manrope: "Manrope", sans-serif;
}

html {
  scroll-behavior: smooth;
}

body {
  /* font-family: var(--font-sans); */
  font-family: "Space Grotesk", sans-serif;
}
